* {
  box-sizing: border-box;
}

body {
  font-size: 22px;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  background-color: rgb(255, 191, 15);
  margin: 0;
  padding: 20px 40px;

  /* This will center anything on your page */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
}

.clock {
  display: block;
  gap: 20px;
  padding: 20px 30px;
  text-align: center;
  border: 31px ridge rgb(94, 28, 4);
  border-radius: 10px;

  font-family: 'Climate Crisis', cursive;
  font-size: 125px;
}

.time {
  color: rgb(237, 122, 0);
}

.icon {
  display: block;
  width: 100%;
  height: auto;
  align-items: center;

  align-items: center;
  justify-content: center;

  padding-left: 45%;
  padding-bottom: 10%;
  padding-top: 3%;
}
